/imgui
/idea
/packages

/bazel-bin
/bazel-out
/bazel-testlogs
/bazel-BlendArMocapExe

/logs

bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
.configure.bazelrc
.user.bazelrc
